body {
	width: 80%;
	max-width: 1024px;
	margin: 0 auto;
	background: rgb(10,10,10);
	color: rgb(0, 60, 255);
}
h1,h3{
	text-align: center;
	font-family: Georgia, serif;
}
.container-padding50 {
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 100px;
}



.textinput {
	width: 80%;
	display: inline-block;
	padding: 20px;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 20px;
}

.search-button {
	width: 10%;
	display: inline-block;
	padding: 20px;
	background-color: rgb(78, 78, 242);
	color: white;
	font-size: 20px;
	font-family: Helvetica, sans-serif;

	border: 1px solid rgb(0, 0, 0);
	border-radius: 20px;
	transition: all ease-in-out 275ms;
}
.search-button:hover{
	color: rgba(0, 0, 0, 0.755);
	background-color:  #00ffe5;
	cursor: pointer;
}

.container-image {
	width: 30%;
	display: block;
	float: left;
	margin-right:3%;
}
#box{
	color: rgb(160, 160, 243);
    text-decoration: none;
    font-size: 80px;
    transition: all ease-in-out 275ms;
	position: fixed; 
	top: 75px; 
	left: 120px;
}
#box:hover{
	color: #00ffe5;
}
